.fade-in {
  animation: fadeIn 0.3s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.fade {
  animation: fade 0.2s ease-out;
}

@keyframes fade {
  from { opacity: 0; transform: translateY(5px); }
  to { opacity: 1; transform: translateY(0); }
}

/* HEADER STYLE */
header, footer {
    padding: 10px 6px;
}

#logo-container {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
}

#logo {
    width: 40px;
    height: 40px;
    margin: 0px 3px;
}

#title {
    font-weight: bolder;
    font-size: x-large;
    background-image: url('https://i.pinimg.com/236x/24/33/07/2433078e3a4c19e965057b38c56659d6.jpg');
}

/* UTILS */
.svg-icon {
  width: 1.5em;
  height: 1.5em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

